@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: 'Inter', sans-serif;
}

.fc .six-thirty-line {
  background-color: #000;
  width: 1px !important;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}

.fc-timeline-event-harness {
  top: 5px !important;
}

.fc-datagrid-cell-frame {
  padding-left: 10px;
}

.fc-timeline-slot-frame {
  justify-content: center !important;
  background: #FAFAFA;
  font-size: 12px;
  font-weight: 400;
  color: #71717A;
}

.fc-datagrid-cell-frame,
.fc-datagrid-cell-cushion .fc-scrollgrid-sync-inner {
  padding-left: 10px;
}